html {
  font-size: 16px;
}

h1 {
  color: black;
  font-size: 5em;
  text-align: center;
  font-family: "Cinzel";
}
h2 {
  font-family: "Cinzel", serif;
}

.cabecalho {
  background-color: blue;
}

nav {
  font-weight: bold;
}

.container {
  margin: 20px 20px 20px 20px;
}
